<div class="profile d-flex flex-column justify-content-around py-2 pe-3 ps-3">
    <dl class="m-0">
        <dt class="sr-only">
            {{ 'Title of desktop agent' | trans }}
        </dt>
        <dd class="m-0 p-0">
            <i class="bi bi-pc-display"></i>
            {{ app.user.name }}
        </dd>
    </dl>
    <dl class="m-0">
        <dt class="sr-only">
            {{ 'Connected user account' | trans }}
        </dt>
        <dd class="m-0">
            <i class="bi bi-person-circle"></i>
            {{ app.user.email }}
        </dd>
    </dl>
    <a href="{{ path('app_page_user_account_show') }}">
       <span class="sr-only">
           {% trans %}Show and edit connected user account{% endtrans %}
           {{ 'Show and edit connected user account' | trans }}
       </span>
    </a>
</div>
