{% if state.name == 'running' %}
    {% set iconClass = 'bi-clock-history' %}
    {% set stateColor = 'primary' %}
    {% set stateLabel = 'running'|trans %}
{% endif %}

{% if state.name == 'paused' %}
    {% set iconClass = 'bi-pause-circle' %}
    {% set stateColor = 'warning' %}
    {% set stateLabel = 'paused'|trans %}
{% endif %}

{% if state.name == 'crashed' %}
    {% set iconClass = 'bi-x-circle' %}
    {% set stateColor = 'danger' %}
    {% set stateLabel = 'crashed'|trans %}
{% endif %}

{% if state.name == 'completed' %}
    {% set iconClass = 'bi-check-circle' %}
    {% set stateColor = 'success' %}
    {% set stateLabel = 'completed'|trans %}
{% endif %}

{% if state.name == 'unknown' %}
    {% set iconClass = 'bi-question-circle' %}
    {% set stateColor = 'dark' %}
    {% set stateLabel = 'Unknown'|trans %}
{% endif %}

<span class="badge bg-white border text-{{ stateColor }} border-{{ stateColor }} badge-{{ small ? 'small'}}">
    <i class="bi {{ iconClass }}"></i>
    {{ stateLabel }}
</span>
