{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %}Forbidden{% endtrans %}
{% endblock title %}

{% block headline %}
    {% trans %}Forbidden{% endtrans %}
{% endblock headline %}

{% block content %}
    {% apply spaceless %}
        <p>
            {{ 'You cannot use this account to check this analysis. Maybe you wish to switch your account to the one you used to start the analysis?' | trans }}
        </p>
        <p class="mt-3 mb-5">
            <a href="{{ path('app_logout') }}" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i>
                {{ 'Connect another user account' | trans }}
            </a>
        </p>
        <p>
            {{ 'Alternatively, you can abandon this analysis. No new files can be added, but it will continue running until it times out.' | trans }}
        </p>
        <p class="my-3">
            <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-abandonAnalysis">
                <i class="bi bi-x-octagon-fill"></i>
                {{ 'Abandon' | trans }}
            </button>
            {% include 'partials/modal.html.twig' with {
                'modalTitle': 'Abandon analysis' | trans,
                'modalBody': 'Are you sure you want to abandon the current analysis? You won’t be able to add any new files to it.' | trans,
                'modalButton': abandon,
                'modalBorderType': 'danger',
                'modalId': 'abandonAnalysis',
                'modalShowCancelButton': true,
                'modalWidth': '300'
            } %}
        </p>
    {% endapply %}
{% endblock content %}
