{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %}Cannot connect to the portal{% endtrans %}
{% endblock title %}

{% block headline %}
    {% trans %}Are you offline?{% endtrans %}
{% endblock headline %}

{% block content %}
    {% apply spaceless %}
        <p>
            {{ 'We cannot connect to the AGRIFUTURE Portal website. To solve this issue, attempt the following:' | trans }}
        </p>
        <p>
            <ul>
                <li>{{ 'Reload this page.' | trans }}</li>
                <li>{{ 'Check your internet connection.' | trans }}</li>
                <li>{{ 'Verify your firewall and proxy settings.' | trans }}</li>
                <li>{{ 'If you can’t reach the portal directly, try again later.' | trans }}</li>
            </ul>
        </p>
    {% endapply %}
{% endblock content %}
