{% block container %}
    <div class="container">
        <div class="row">
            <div class="footer-block footer-block-meta col justify-content-end order-last">
                <nav aria-label="{{ 'Metanavigation' | trans }}" id="navigation-meta" class="mb-3">
                    <ul role="menubar" class="nav nav-meta  justify-content-end">
                        <li class="nav-item first">
                            <a role="menuitem"
                               class="nav-link"
                               title="{{ 'Imprint' | trans }}"
                               target="_blank"
                               href="{{ portal }}/{{ 'typo3_slug_imprint' | trans }}">
                                {{ 'Imprint' | trans }}
                            </a>
                        </li>
                        <li class="nav-item last">
                            <a role="menuitem"
                               class="nav-link"
                               title="{{ 'Privacy policy and terms of service' | trans }}"
                               target="_blank"
                               href="{{ portal }}/{{ 'typo3_slug_privacy' | trans }}">
                                {{ 'Privacy policy and terms of service' | trans }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="logo-efre">
                    <img class="logo"
                         src="/images/logoEFRE.svg"
                         alt="EUROPÄISCHE UNION - REACT-EU - Europäischer Fonds für regionale Entwicklung" with="213">
                </div>
            </div>
            <div class="footer-block footer-block-logo col-3">
                <div class="logo-wrap">
                    <img src="/images/logoFooterSGN.svg"
                         alt="SENCKENBERG - world of biodiverity">
                </div>
            </div>
            <div class="footer-block col-4">
                <address>
                    <ul>
                        <li>
                            <strong>
                                Senckenberg Gesellschaft für Naturforschung
                            </strong>
                        </li>
                        <li>
                            Senckenberganlage 25
                        </li>
                        <li>
                            <span>60325</span>
                            <span>Frankfurt</span>
                        </li>
                        <li>
                            Deutschland
                        </li>
                        <li>
                        <span>
                            {{ 'Phone' | trans }}:
                        </span>
                            <span>
                            <a href="tel:+49697542-0">
                                +49 69 7542-0
                            </a>
                        </span>
                        </li>
                        <li>
                            <span>{{ 'Fax' | trans }}:</span>
                            <span>
                                <a href="tel:+49697542-0">
                                    +49 69 746238
                                </a>
                            </span>
                        </li>
                        <li>
                            <a href="mailto:info@senckenberg.de">info@senckenberg.de</a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
{% endblock %}
