<div class="form-element form-element-fileupload mb-3">

    <div class="form-element form-element-check mb-3">
        <label class="form-check-wrapping-label"
               for="{{ id }}">

            <input id="{{ id }}"
                   name="{{ name }}"
                   class="form-check-input"
                   type="checkbox"
                   {{ required is defined ? 'required' }}
                   value="{{ value }}">

            <span class="form-check-label">
                {{ label }}
                {% if required is defined %}
                    <span class="required">*</span>
                {% endif %}
            </span>
        </label>
        {% if desc is defined %}
            {% include 'partials/forms/fieldDesc.html.twig' %}
        {% endif %}
    </div>
</div>
