<div class="form-group form-element-text mb-3">
    {% include 'partials/forms/fieldLabel.html.twig' %}

    <input id="{{ id }}"
           name="{{ name }}"
           class="form-control"
           type="email"
           placeholder="{{ placeholder is defined ? placeholder }}"
           aria-required="{{ required is defined ? 'required' : 'false' }}"
           {{ required is defined ? 'required' }}>

    {% if desc is defined %}
        {% include 'partials/forms/fieldDesc.html.twig' %}
    {% endif %}
</div>
