<div class="d-table layout-list">
    {% include 'partials/facts.html.twig' with {
        'label': 'Reference database' | trans,
        'value': analysis.type.name | trans
    } %}
    {% include 'partials/facts.html.twig' with {
        'label': 'Format of raw data' | trans,
        'value': analysis.format.value | trans
    } %}

    {% if analysis.host %}
        {% include 'partials/facts.html.twig' with {
            'label': 'Host plant' | trans,
            'value': analysis.host
        } %}
    {% endif %}

    {% include 'partials/facts.html.twig' with {
        'label': 'Country of sample origin' | trans,
        'value': analysis.country
    } %}

    {% if analysis.city %}
        {% include 'partials/facts.html.twig' with {
            'label': 'Location of sample collection' | trans,
            'value': analysis.city
        } %}
    {% endif %}

    {% if analysis.longitude or analysis.latitude %}
        <dl class="d-table-row">
            <dt class="d-table-cell strong">
                {{ 'Geolocation of sample collection site' | trans }}:
            </dt>
            <dd class="d-table-cell px-3">
                <div class="d-table">
                    {% if analysis.longitude %}
                        <dl class="d-table-row">
                            <dt class="d-table-cell">
                                {{ 'Longitude' | trans }}:
                            </dt>
                            <dd class="d-table-cell px-2">
                                {{ analysis.longitude }}
                            </dd>
                        </dl>
                    {% endif %}

                    {% if analysis.latitude %}
                        <dl class="d-table-row">
                            <dt class="d-table-cell">
                                {{ 'Latitude' | trans }}:
                            </dt>
                            <dd class="d-table-cell px-2">
                                {{ analysis.latitude }}
                            </dd>
                        </dl>
                    {% endif %}
                </div>
            </dd>
        </dl>
    {% endif %}
</div>
