<div class="modal fade{{ modalWidth ? ' modal-' ~ modalWidth }}"
     id="modal-{{ modalId }}"
     data-bs-backdrop="static"
     data-bs-keyboard="true"
     tabindex="-1"
     aria-labelledby="modal-{{ modalId }}-label"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-{{ modalBorderType }}">
            <div class="modal-header border-{{ modalBorderType }} mb-3">
                <h5 class="modal-title" id="modal-{{ modalId }}-label">
                    {{ modalTitle }}
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="close|trans">
                    <i class="bi bi-x" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                {{ modalBody }}
            </div>
            {% if modalButton or modalShowCancelButton %}
                <div class="modal-footer border-0">
                    {% if modalShowCancelButton %}
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            {{ 'close' | trans }}
                        </button>
                    {% endif %}
                    {{ form(modalButton, {'attr': {'class': 'border-0 p-0'}}) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
